.review-modal {
	// .review-modal__title
	&__title {
		color: $beige;
		text-transform: uppercase;
	}
	// .review-modal__form
	&__form {
		width: 96.6rem;
		margin-top: 5.1rem;
	}
	&__icon {
		width: 18.7rem;
		height: 12.6rem;
		margin-bottom: 6.4rem;
	}
	&__content {
		padding: 6rem;
		overflow: hidden;
	}
	&__description {
		margin-top: 4.8rem;
		overflow: hidden;
		color: $beige;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		/* Desktop/text 22 */
		font-family: "Euclid Circular A";
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.8rem; /* 127.273% */
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 96.6rem;
	}
}
.review-modal-detail {
	// .review-modal-detail__slider
	&__slider {
		overflow: hidden;
		width: 92.6rem;
		height: 62.5rem;
	}
	// .review-modal-detail__slide
	&__slide.swiper-slide {
		width: 100%;
		display: flex;
		padding: 6rem 6rem 4.2rem;
		flex-direction: column;
		gap: 4.8rem;
	}
	// .review-modal-detail__header
	&__header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&::after {
			content: "";
			position: absolute;
			top: -13.2rem;
			right: -13rem;
			z-index: -1;
			width: 25.2rem;
			height: 25.2rem;
			background-color: $orange;
			border-radius: 50%;
		}
	}
	// .review-modal-detail__icon
	&__icon {
		width: 9.6rem;
		height: 9.6rem;
		padding: 2.8rem;
		border-radius: 50%;
		background: $beige;
	}
	// .review-modal-detail__rating
	&__rating {
		display: flex;
		align-items: center;
		gap: 0.6rem;

		color: $dark;
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2.8rem; /* 93.333% */
		letter-spacing: -0.06rem;
		text-transform: uppercase;
		span {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
		}
	}
	// .review-modal-detail__info
	&__info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	// .review-modal-detail__name
	&__name {
		color: $beige;
		font-size: 4.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 45px */
		letter-spacing: -0.18rem;
		text-transform: uppercase;
	}
	// .review-modal-detail__date
	&__date {
		color: $beige;
		text-align: right;
		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;
	}
	&__main {
		position: relative;
		overflow: auto;
		max-height: 17rem;
		color: $beige;

		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;
		/* W3C standard
		сейчас только для Firefox */
		scrollbar-width: thin;
		scrollbar-color: $dark $orange;

		/* для Chrome/Edge/Safari */
		&::-webkit-scrollbar {
			width: 0.3rem;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $dark;
			border-radius: 10rem;
		}
	}
	// .review-modal-detail__footer
	&__footer {
		height: 7rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .review-modal-detail__address
	&__address {
		display: flex;
		align-items: center;
		gap: 0.6rem;

		color: $beige;
		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;

		span {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
		}
	}
	// .review-modal-detail__navigation
	&__navigation {
		&.navigation {
			position: absolute;
			right: 6rem;
			bottom: 4.2rem;
			z-index: 100;
			flex-direction: row;
		}
		&-btn {
			background-color: $beige;

			svg path {
				fill: $choco;
			}
		}
	}
}
.subscribe {
	// .subscribe__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8rem;
		width: 108.6rem;
	}
	// .subscribe__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .subscribe__icon
	&__icon {
		width: 18.5rem;
		margin-bottom: 6.4rem;
	}
	// .subscribe__title
	&__title {
		color: $beige;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 4.8rem;
		width: 79.6rem;
	}
	// .subscribe__description
	&__description {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		color: $beige;
		text-overflow: ellipsis;
	}
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2010;

	width: 100%;
	height: 100vh;
	&.active {
		display: block;
	}
	&-back {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;
		background: $dark-tertiary;
		backdrop-filter: blur(0.5rem);
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
	}
	&-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		background: $choco;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
	}
	&-exit {
		cursor: pointer;
		position: absolute;
		top: 2.2rem;
		right: 2.2rem;
		z-index: 1000;

		width: 2rem;
		height: 2rem;

		svg {
			width: 100%;
			height: 100%;
		}
	}
	&-content {
		display: none;
		visibility: hidden;

		&.active {
			display: block;
			visibility: visible;
		}
	}
}
.footer__input-container.error {
	.error-text {
		position: absolute;
		margin: 0;
		bottom: -2.8rem;
		left: 0;
	}
}
.error {
	&-text {
		margin: 0.6rem 0 0 3.2rem;
		color: #ff2f2f;
		font-family: "Euclid Circular A";
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 16.8px */
		letter-spacing: -0.028rem;
	}
}
.form {
	&-input {
		background: #a5806d;
		width: 100%;
		padding: 3.2rem;
		color: $dark;
		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;

		&::placeholder {
			color: $dark-secondary;
		}
	}
	&-textarea {
		width: 100%;
		height: 15.5rem;
		resize: none;
		background: #a5806d;

		padding: 3.2rem;
		color: $dark;
		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;

		&::placeholder {
			color: $dark-secondary;
		}

		/* W3C standard
		сейчас только для Firefox */
		scrollbar-width: thin;
		scrollbar-color: $dark $orange;

		/* для Chrome/Edge/Safari */
		&::-webkit-scrollbar {
			width: 0.3rem;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $dark;
			border-radius: 10rem;
		}
	}
	// .form__main
	&__main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 4.1rem;
		&-top {
			display: flex;
			gap: 1rem;
		}
		&-bottom {
			width: 100%;
		}
	}
	// .form__label
	&__label {
		flex: 1;
	}
	// .form__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .form__rating
	&__rating {
	}
	// .form__btn
	&__btn {
	}
}
.rating {
	display: flex;
	align-items: center;
	gap: 3.2rem;
	&__title {
		color: $beige;
		text-transform: uppercase;
	}

	&__main {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		position: relative;
		label {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3.2rem;
			height: 3.2rem;
			cursor: pointer;
			margin-right: 0.8rem;

			&:nth-child(2) {
				margin-right: 0;
			}

			svg path {
				fill: none;
				stroke: #fff4da;
			}
			&:hover {
				svg path {
					fill: #fff4da;
				}
			}
		}
		input {
			display: none;
		}

		input:checked ~ label svg path {
			fill: #fff4da;
		}

		label:hover {
			svg,
			~ label svg path {
				fill: #fff4da;
			}
		}

		input:checked {
			+ label:hover svg path {
				fill: #fff4da;
			}

			~ label:hover {
				svg,
				~ label svg path {
					fill: #fff4da;
				}
			}
		}
		label:hover ~ input:checked ~ label svg path {
			fill: #fff4da;
		}
	}
}
.vacancy-modal {
	// .vacancy-modal__content
	&__content {
		padding: 6rem;
		overflow: hidden;
	}
	// .vacancy-modal__title
	&__title {
		color: $beige;
		text-transform: uppercase;
	}
	// .vacancy-modal__form
	&__form {
		width: 108.6rem;
		margin-top: 5.1rem;
	}
	// .vacancy-modal__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 96.6rem;
	}
	// .vacancy-modal__icon
	&__icon {
		width: 18.7rem;
		height: 12.6rem;
		margin-bottom: 6.4rem;
	}
	// .vacancy-modal__description
	&__description {
		margin-top: 4.8rem;
		overflow: hidden;
		color: $beige;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		/* Desktop/text 22 */
		font-family: "Euclid Circular A";
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.8rem; /* 127.273% */
	}
}
.input-file {
	display: none;
	appearance: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -1;
}
.custom-file {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1.6rem;
	span {
		color: $beige;
		font-family: "Euclid Circular A";
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.8rem; /* 127.273% */
	}

	svg {
		width: 3.2rem;
		height: 3.2rem;
		path {
			stroke: $beige;
		}
	}
}
.custom-preview {
	display: none;
	align-items: center;
	// .custom-preview__close
	&__close {
		cursor: pointer;
		width: 2rem;
		height: 2rem;
		margin-left: 1.6rem;
	}
	// .custom-preview__name
	&__name {
		max-width: 15rem;
		overflow: hidden;
		text-overflow: ellipsis;
		text-wrap: nowrap;
		color: $beige;
		font-family: "Euclid Circular A";
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.8rem; /* 127.273% */
	}
	// .custom-preview__size
	&__size {
		color: $orange;
		font-family: "Euclid Circular A";
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.8rem; /* 127.273% */
		margin-left: 1.2rem;
	}
}
.map-modal {
	.modal-exit {
		svg path {
			fill: $dark;
		}
		&:hover {
			svg path {
				fill: $orange;
			}
		}
	}
	// .map-modal__content
	&__content {
		padding: 6.5rem 6rem;
		background-color: $beige;
		&.active {
			display: flex;
		}
		gap: 1rem;
	}
	// .map-modal__left
	&__left {
		width: 79rem;
		height: 61.4rem;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__map {
		width: 100%;
		height: 100%;
	}
	// .map-modal__card
	&__card {
		height: 100%;
		width: 50.1rem;
		border: 0.1rem solid $dark;
	}
}

@media (max-width: 48em) {
	.footer__input-container.error {
		.error-text {
			bottom: -4.2rem;
		}
	}
	.error {
		&-text {
			margin: 0.6rem 0 0 3.2rem;
			font-size: 2.4rem;
			line-height: normal; /* 16.8px */
			letter-spacing: -0.056rem;
		}
	}
	.review-modal {
		// .review-modal__title
		&__title {
			text-align: center;
			font-size: 8rem;
			letter-spacing: -0.24rem;
			margin-bottom: 0;
		}
		// .review-modal__form
		&__form {
			width: 100%;
			margin-top: 4.8rem;
		}
		&__icon {
			width: 21.4rem;
			height: 14.4rem;
			margin-bottom: 0;
		}
		&__content {
			padding: 13rem 6rem;
		}
		&__description {
			margin-top: 0;
			display: block;
			text-align: center;
			max-width: 38.8rem;
			font-size: 3.6rem;
			line-height: 5.6rem; /* 127.273% */
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4.8rem;
			width: auto;
		}
	}
	.review-modal-detail {
		// .review-modal-detail__slider
		&__slider {
			overflow: hidden;
			width: 100%;
			height: auto;
			padding: 13rem 6rem;
		}
		// .review-modal-detail__slide
		&__slide.swiper-slide {
			width: 100%;
			display: flex;
			padding: 0;
			flex-direction: column;
			gap: 4.8rem;
		}
		// .review-modal-detail__header
		&__header {
			&::after {
				top: -17.6rem;
				right: -14.2rem;

				width: 32.8rem;
				height: 32.8rem;
			}
		}
		// .review-modal-detail__icon
		&__icon {
			width: 12.4rem;
			height: 12.4rem;
			padding: 3.6rem;
		}
		// .review-modal-detail__rating
		&__rating {
			gap: 1.2rem;
			font-size: 4.8rem;
			line-height: 100%; /* 93.333% */
			letter-spacing: -0.192rem;
			span {
				width: 4.8rem;
				height: 4.8rem;
			}
		}
		// .review-modal-detail__name
		&__name {
			font-size: 4.8rem;
			letter-spacing: -0.192rem;
		}
		// .review-modal-detail__date
		&__date {
			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;
		}
		&__main {
			max-height: 45rem;
			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;
			&::-webkit-scrollbar {
				width: 0.6rem;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 20rem;
			}
		}
		// .review-modal-detail__footer
		&__footer {
			height: auto;
		}
		// .review-modal-detail__address
		&__address {
			gap: 1.2rem;

			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;

			span {
				width: 4.8rem;
				height: 4.8rem;
			}
		}
		// .review-modal-detail__navigation
		&__navigation {
			&.navigation {
				position: static;
				flex-direction: row-reverse;
				justify-content: space-between;
				margin-top: 4.8rem;
			}
		}
	}
	.subscribe {
		// .subscribe__content
		&__content {
			padding: 13rem 6rem;
			width: auto;
		}
		// .subscribe__wrapper
		&__wrapper {
			gap: 4.8rem;
		}
		// .subscribe__icon
		&__icon {
			width: 18.5rem;
			margin-bottom: 0;
		}
		// .subscribe__title
		&__title {
			margin-bottom: 0;
			width: 100%;
		}
		// .subscribe__description
		&__description {
			display: block;
			text-align: center;
			font-size: 3.6rem;
			line-height: 5.6rem; /* 155.556% */
		}
	}
	.modal {
		&-wrapper {
			width: 68.6rem;
		}
		&-exit {
			top: 2.6rem;
			right: 2.6rem;

			width: 3.4rem;
			height: 3.4rem;
		}
	}
	.form {
		&-input {
			padding: 3.2rem 4.8rem;
			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;
		}
		&-textarea {
			height: 37.2rem;
			padding: 3.2rem 4.8rem;
			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;
		}
		// .form__main
		&__main {
			gap: 2rem;
			margin-bottom: 4.8rem;
			&-top {
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
			&-bottom {
				width: 100%;
			}
		}
		// .form__label
		&__label {
			flex: 1;
		}
		// .form__footer
		&__footer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 3.2rem;
		}
		// .form__btn
		&__btn {
			width: 100%;
			.btn {
				width: 100%;
			}
		}
	}
	.rating {
		gap: 4.8rem;
		&__title {
			font-size: 4.8rem;
			letter-spacing: -0.192rem;
		}

		&__main {
			label {
				width: 4.8rem;
				height: 4.8rem;

				margin-right: 1.2rem;
			}
		}
	}
	.vacancy-modal {
		// .vacancy-modal__content
		&__content {
			padding: 13rem 6rem;
		}
		// .vacancy-modal__title
		&__title {
			text-align: center;
			font-size: 8rem;
			letter-spacing: -0.24rem;
			margin-bottom: 0;
		}
		// .vacancy-modal__form
		&__form {
			width: 100%;
			margin-top: 4.8rem;
		}
		// .vacancy-modal__wrapper
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4.8rem;
			width: auto;
		}
		// .vacancy-modal__icon
		&__icon {
			width: 21.4rem;
			height: 14.4rem;
			margin-bottom: 0;
		}
		// .vacancy-modal__description
		&__description {
			margin-top: 0;
			display: block;
			text-align: center;
			max-width: 38.8rem;
			font-size: 3.6rem;
			line-height: 5.6rem; /* 127.273% */
		}
	}
	.custom-file {
		gap: 3.2rem;
		span {
			font-size: 3.6rem;
			line-height: 5.6rem; /* 127.273% */
		}

		svg {
			width: 4.8rem;
			height: 4.8rem;
		}
	}
	.custom-preview {
		display: none;
		align-items: center;
		// .custom-preview__close
		&__close {
			width: 3rem;
			height: 3rem;
			margin-left: 4rem;
		}
		// .custom-preview__name
		&__name {
			max-width: 20rem;
			font-size: 3.6rem;
			line-height: 5.6rem; /* 127.273% */
		}
		// .custom-preview__size
		&__size {
			margin-left: 2.4rem;
			font-size: 3.6rem;
			line-height: 5.6rem; /* 127.273% */
		}
	}
	.map-modal {
		.modal-wrapper {
			width: 100vw;
			background-color: $beige;
		}
		.modal-exit {
			width: 8.8rem;
			height: 8.8rem;
			right: unset;
			top: 4rem;
			left: 3.2rem;

			.btn-circle {
				width: 100%;
				height: 100%;
				padding: 2.8rem;
			}

			svg {
				width: 3.2rem;
				height: 3.2rem;
			}
		}
		// .map-modal__content
		&__content {
			height: 100vh;
			padding: 19.2rem 3.2rem 4rem;
			&.active {
				display: block;
			}
		}
		// .map-modal__left
		&__left {
			width: 100%;
			height: 100%;
			margin-bottom: 4.8rem;
		}
		&__right {
			display: none;
			padding-bottom: 4rem;
		}
		// .map-modal__card
		&__card {
			height: 100%;
			width: 100%;
			border: 0.2rem solid $dark;
		}
	}
}
