.news {

        .swiper {
            margin: 0 auto;
            width: 190.2rem;
            overflow: hidden;
        }

        .swiper-wrapper {
            margin-top: 6.4rem;
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            overflow: hidden;
            width: 46.8rem;
            height: 63.2rem;
            display: flex;
        }

    // .news__container
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .news__container-title
    &__container-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: center;

        svg {
            width: 18rem;
            height: 10rem;
        }
    }

    // .news__title
    &__title {
        color: $dark;
        font-weight: 500;
    }

        // .news__card-wrapeper
        &__card-wrapper {
            width: 100%;
            object-fit: cover;
            height: 21.3rem;
    
            img {
                width: 100%;
                height: 100%;
            }
        }

    // .news__card
    &__card {
        border: 0.1rem solid $dark;
        display: flex;
        flex-direction: column;
        &:nth-of-type(2n) {
            .news__card-wrapper{
                height: 34rem;
            }
        }
    }

    // .news__card-top
    &__card-top {
        display: flex;
        padding: 1.7rem 2.4rem;
        box-sizing: border-box;
    }

    // .news__date
    &__date {
        margin-left: auto;
    }



    // .news__card-bottom
    &__card-bottom {
        padding: 2.4rem 2rem;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }

    // .news__card-title
    &__card-title {
        width: 100%;
        color: $dark;
        text-transform: uppercase;
    }

    // .news__card-link
    &__card-link {
        text-transform: uppercase;
        margin-top: auto;
        padding-bottom: 1rem;
        box-sizing: border-box;
        border-bottom: 0.1rem solid $dark;
    }

    &__btn{
        margin: 5.6rem auto;
        text-transform: uppercase;
        padding: 2.6rem 4rem;
        background-color: $orange;
    }
}
@media (max-width: 48em) {
.news {
 margin-left: 3.2rem;
    .swiper {
        margin: 0 0;
        width: 100%;
    }

    .swiper-wrapper {
        margin-top: 8rem;
    }

    .swiper-slide {
        width: 63.6rem;
        height: 67.4rem;
    }

// .news__container-title
&__container-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;

    svg {
        width: 15.4rem;
        height: 8.4rem;
    }
}

// .news__card-title
&__card-title {
    width: 38.2rem;
}

    // .news__card-wrapeper
    &__card-wrapper {
        height: 22rem;
    }

// .news__card
&__card {
    &:nth-of-type(2n) {
        .news__card-wrapper{
            height: 33rem;
        }
    }
}

// .news__card-top
&__card-top {
    padding: 3.2rem;
}

// .news__card-bottom
&__card-bottom {
    padding: 6px 16px 18.5px;
}

// .news__card-link
&__card-link {
    padding-bottom: 1.2rem;
}

&__btn{
    margin: 5.6rem auto;
    text-transform: uppercase;
    padding: 2.6rem 4rem;
    background-color: $orange;
}
}
}