.ticker {
	max-width: 192rem;
	margin: 0 auto;
	height: 6rem;
	display: flex;
	align-items: center;
	background-color: $green;
	overflow: hidden;
	&-content {
		display: flex;
		gap: 3rem;
		width: 200%;
		animation: ticker 20s linear infinite;
	}
	&-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 3rem;
	}
	&-element {
		display: flex;
		align-items: center;
		gap: 3rem;
		strong {
			display: block;
			width: max-content;
			text-wrap: nowrap;

			color: $dark;
			font-size: 3rem;
			font-weight: 600;
			line-height: 2.8rem; /* 93.333% */
			letter-spacing: -0.06rem;
			text-transform: uppercase;
		}
		span {
			display: block;
			width: 0.4rem;
			height: 0.4rem;
		}
	}
}
@keyframes ticker {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(calc(-50% - 23.3rem));
	}
}

@media (max-width: 48em) {
	.ticker {
		height: 7.2rem;
		&-content {
			gap: 4rem;
			width: 350%;
		}
		&-wrapper {
			gap: 4rem;
		}
		&-element {
			gap: 4rem;
			strong {
				font-size: 3.6rem;
				line-height: normal; /* 93.333% */
				letter-spacing: -0.072rem;
			}
			span {
				width: 0.8rem;
				height: 0.8rem;
			}
		}
	}
	@keyframes ticker {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(calc(-50% - 135rem));
		}
	}
}
