.main-reviews {
	// .main-reviews__inner
	&__inner {
		max-width: 192rem;
		width: 100%;
		margin: 0 auto;
	}
	// .main-reviews__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 6.3rem;
		margin-bottom: 6.4rem;
	}
	// .main-reviews__navigation
	&__navigation.navigation {
		&.desktop {
			display: flex;
			flex-direction: row;
			gap: 0.4rem;
		}
	}
	// .main-reviews__title
	&__title {
		display: flex;
		flex: 1 1 auto;
		margin-left: 41.1rem;
		strong {
			display: block;
			width: 12rem;
			min-height: 8rem;
			margin: 1.8rem 4rem 0;
		}
	}
	// .main-reviews__wrapper
	&__wrapper {
		padding-top: 8.7rem;
		position: relative;

		&::after {
			content: "";
			width: 64rem;
			height: 64rem;
			background-color: $green;
			border-radius: 50%;

			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}

		&::before {
			content: "";
			width: 100%;
			height: 36rem;
			position: absolute;
			bottom: 6.5rem;
			z-index: -1;
			background: url(../assets/images/icons/review-line-bg.svg) center / cover no-repeat;
		}
	}
	// .main-reviews__slider
	&__slider {
		overflow: hidden;
		height: 63.5rem;
	}
	// .main-reviews__slider-wraper
	&__slider-wrapper.swiper-wrapper {
		width: 100%;
	}
	// .main-reviews__slider-slide
	&__slider-slide.swiper-slide {
		width: 59.1rem;
		height: 43rem;
		cursor: pointer;
	}
	// .main-reviews__footer
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4.8rem;
		margin: 0 auto;
	}
	// .main-reviews__subtitle
	&__subtitle {
		color: $dark;
		text-align: center;
		font-size: 4.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 45px */
		letter-spacing: -0.18rem;
		text-transform: uppercase;
	}
	// .main-reviews__links
	&__links {
		&-wrapper {
			display: flex;
			gap: 4rem;
		}
	}
	// .main-reviews__link
	&__link {
		height: 8rem;
	}
}
.review-slide {
	// .review-slide__icon
	&__icon {
		position: absolute;
		top: 0;
		left: 4rem;
		z-index: 2;

		width: 9.6rem;
		height: 9.6rem;
		border-radius: 50%;
		background: $dark;

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 4rem;
			height: 4rem;
		}
	}
	// .review-slide__date
	&__date {
		position: absolute;
		right: 4rem;
		top: 1.2rem;
		color: $dark;
		text-align: center;
		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;
	}
	// .review-slide__wrapper
	&__wrapper {
		position: relative;
		align-self: flex-end;
		padding: 4.5rem 4rem 3rem;
		border: 0.1rem solid $dark;
		background: $beige;
		height: 39.2rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__main {
		display: flex;
		flex-direction: column;
		gap: 4.8rem;
	}
	// .review-slide__name
	&__name {
		color: $dark;
		text-align: center;
		font-size: 4.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 45px */
		letter-spacing: -0.18rem;
		text-transform: uppercase;
	}
	&__transform {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		display: flex;
		transition: all 0.6s linear;
		top: 0;
	}
	// .review-slide__content
	&__content {
		width: 100%;
		overflow: hidden;
		color: $dark;
		text-align: center;
		text-overflow: ellipsis;
		font-family: "Euclid Circular A";
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.8rem; /* 155.556% */
		letter-spacing: -0.036rem;

		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
	// .review-slide__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		&::after {
			content: "";
			width: 18.8rem;
			height: 18.8rem;
			border-radius: 50%;
			background-color: $orange;

			position: absolute;
			right: -7.6rem;
			top: -6.1rem;
		}
	}
	// .review-slide__address
	&__address {
		display: flex;
		align-items: center;
		gap: 0.6rem;

		span {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
		}

		strong {
			display: block;
			color: $dark;
			font-family: "Euclid Circular A";
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 2.8rem; /* 155.556% */
			letter-spacing: -0.036rem;
		}
	}
	// .review-slide__rate
	&__rate {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		gap: 0.6rem;
		span {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
		}
		strong {
			color: $beige;
			font-family: "Euclid Circular A";
			font-size: 2.2rem;
			font-style: normal;
			font-weight: 500;
			line-height: 2.8rem; /* 127.273% */
		}
	}
}
.review-link {
	display: flex;
	// .review-link__text
	&__text {
		display: flex;
		align-items: center;
		gap: 1.2rem;
		padding: 2.4rem;
		border: 0.1rem solid $dark;
		border-right: 0;

		span {
			display: block;
			width: 3.2rem;
			height: 3.2rem;
		}
		strong {
			color: $dark;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 600;
			line-height: 2.8rem; /* 116.667% */
			letter-spacing: 0.216rem;
			text-transform: uppercase;
		}
	}
	// .review-link__rate
	&__rate {
		background: $orange;
		display: flex;
		align-items: center;
		gap: 0.4rem;
		padding: 1.35rem;
		span {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
		}

		strong {
			color: $beige;
			text-align: center;
			font-family: "Euclid Circular A";
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 2.8rem; /* 155.556% */
			letter-spacing: -0.036rem;
		}
	}
}

@media (max-width: 48em) {
	.main-reviews {
		overflow: hidden;
		// .main-reviews__inner
		&__inner {
			max-width: 192rem;
			width: 100%;
			margin: 0 auto;
		}
		// .main-reviews__header
		&__header {
			padding: 0 3.2rem;
			margin-bottom: 8rem;
		}
		// .main-reviews__navigation
		&__navigation.navigation {
			&.desktop {
				display: none;
			}
		}
		// .main-reviews__title
		&__title {
			justify-content: center;
			margin-left: 0;
			strong {
				width: 9rem;
				min-height: 6.2rem;
				margin: 1.3rem 2.2rem 0;
			}
		}
		// .main-reviews__wrapper
		&__wrapper {
			padding: 4.8rem 0 9.2rem;
			margin-bottom: 6.4rem;
			position: relative;

			&::after {
				width: 75rem;
				height: 75rem;
			}

			&::before {
				display: none;
			}
		}
		// .main-reviews__slider
		&__slider {
			height: 61rem;
			padding: 0 3.2rem;
		}
		// .main-reviews__slider-slide
		&__slider-slide.swiper-slide {
			width: 68.4rem;
			height: 100%;
		}
		// .main-reviews__footer
		&__footer {
			overflow: auto;

			align-items: flex-start;
			gap: 0;
			padding: 0 3.2rem;
			&-mobile.mobile {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 8rem;
			}
		}
		// .main-reviews__subtitle
		&__subtitle {
			font-size: 4.8rem;
			letter-spacing: -0.192rem;
			margin-bottom: 4.8rem;
		}
		// .main-reviews__links
		&__links {
			overflow: auto;
			padding: 0 3.2rem;
			&-wrapper {
				width: max-content;
				gap: 1.6rem;
			}
		}
		// .main-reviews__link
		&__link {
			height: 9.2rem;
		}
	}
	.review-slide {
		// .review-slide__icon
		&__icon {
			left: 6.4rem;
			width: 14rem;
			height: 14rem;

			img {
				width: 6rem;
				height: 6rem;
			}
		}
		// .review-slide__date
		&__date {
			right: 6.4rem;
			top: 3.8rem;
			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;
		}
		// .review-slide__wrapper
		&__wrapper {
			padding: 10.4rem 6.4rem 6.4rem;
			height: 56.6rem;
		}
		// .review-slide__name
		&__name {
			font-size: 4.8rem;
			letter-spacing: -0.192rem;
		}
		// .review-slide__content
		&__content {
			font-size: 2.8rem;
			line-height: 4rem; /* 155.556% */
			letter-spacing: -0.056rem;
		}
		// .review-slide__footer
		&__footer {
			&::after {
				content: "";
				width: 23.4rem;
				height: 23.4rem;
				right: -10.4rem;
				top: -7rem;
			}
		}
		// .review-slide__address
		&__address {
			gap: 1.2rem;

			span {
				width: 3.2rem;
				height: 3.2rem;
			}

			strong {
				font-size: 2.8rem;
				line-height: 4rem; /* 155.556% */
				letter-spacing: -0.056rem;
			}
		}
		// .review-slide__rate
		&__rate {
			gap: 0.8rem;
			span {
				width: 3.2rem;
				height: 3.2rem;
			}
			strong {
				font-size: 3.2rem;
				line-height: 5.6rem; /* 127.273% */
			}
		}
	}
	.review-link {
		// .review-link__text
		&__text {
			gap: 1.6rem;
			padding: 2.4rem;
			border: 0.2rem solid $dark;
			border-right: 0;

			span {
				width: 4.8rem;
				height: 4.8rem;
			}
			strong {
				font-size: 3.2rem;
				line-height: normal; /* 116.667% */
				letter-spacing: 0.288rem;
			}
		}
		// .review-link__rate
		&__rate {
			gap: 0.8rem;
			padding: 3rem 2rem;
			span {
				width: 3.2rem;
				height: 3.2rem;
			}

			strong {
				font-size: 3.2rem;
				line-height: 5.6rem; /* 155.556% */
				letter-spacing: 0;
			}
		}
	}
}
