.sliders-delivery {
    overflow: hidden;
    .container {
        width: 190rem;
        padding: 0 1rem;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8.3rem;
        padding: 0 5rem;
        .btn {
            width: 16.7rem;
        }
    }
    &__title {
        color: $dark;
        font-family: "Literata", sans-serif;
        font-size: 8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.6px;
        display: flex;
        
        &-icon {
            width: 10rem;
            height: 10rem;
            margin: 0 3rem;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }

    &__navigation {
        display: flex;
        flex-direction: initial;
    }

    &__swiper {
        margin-bottom: 19rem;
    }

    &__swiper:last-child {
        margin-bottom: 0;
    }

 

    
}
