.contacts-banner {
	// .contacts-banner__inner
	&__inner {
		display: flex;
		max-width: 192rem;
		margin: 0 auto;
		min-height: 70.9rem;
	}
	// .contacts-banner__left
	&__left {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		max-width: 96rem;
		width: 100%;

		padding: 2rem 4.8rem;
		font-family: "Alumni Sans";
		text-transform: uppercase;
		border-bottom: 0.1rem solid $dark;

		// .contacts-banner__left-title
		&-title {
			color: $orange;
		}
		// .contacts-banner__left-subtitle
		&-subtitle {
			color: $choco;
		}
	}
	// .contacts-banner__right
	&__right {
		display: flex;
		flex-wrap: wrap;
		// .contacts-banner__right-element
		&-element {
			width: 50%;
			padding: 6rem;
			display: flex;
			flex-direction: column;
			gap: 3.2rem;
			border-bottom: 0.1rem solid $dark;
			border-left: 0.1rem solid $dark;
		}
		// .contacts-banner__right-subtitle
		&-subtitle {
			text-transform: uppercase;
		}
		// .contacts-banner__right-wrapper
		&-wrapper {
			color: $dark-secondary;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			gap: 0.8rem;

			a:hover {
				text-decoration: underline;
			}
		}
		// .contacts-banner__right-name
		&-name {
			color: $orange;
		}
		// .contacts-banner__right-mail
		&-mail {
			text-transform: uppercase;
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 48em) {
	.contacts-banner {
		// .contacts-banner__inner
		&__inner {
			padding-top: 9.2rem;
			flex-direction: column;
			margin: 0;
			min-height: auto;
			gap: 8rem;
		}
		// .contacts-banner__left
		&__left {
			gap: 2rem;
			max-width: 100%;
			padding: 0 3.2rem;
			border-bottom: none;

			// .contacts-banner__left-title
			&-title {
				font-size: 24rem;
				letter-spacing: -1.44rem;
			}
			// .contacts-banner__left-subtitle
			&-subtitle {
				font-size: 8rem;
				letter-spacing: -0.24rem;
			}
		}
		// .contacts-banner__right
		&__right {
			flex-direction: column;
			flex-wrap: wrap;
			padding: 0 3.2rem;
			// .contacts-banner__right-element
			&-element {
				width: 100%;
				padding: 4.8rem 0;
				gap: 2rem;
				border: none;
				border-top: 0.2rem solid $dark;
			}
			// .contacts-banner__right-subtitle
			&-subtitle {
				font-size: 4.8rem;
				letter-spacing: -0.192rem;
			}
			// .contacts-banner__right-wrapper
			&-wrapper {
				letter-spacing: -0.072rem;
			}
			// .contacts-banner__right-name
			&-name {
				color: $orange;
			}
			// .contacts-banner__right-mail
			&-mail {
				text-transform: uppercase;
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
