.position-card {
    margin-bottom: 20rem;
    .container {
        width: 100%;
    }

    &__wrapper {
        display: flex;
        position: relative;
    }

    &__left {
        padding-top: 6rem;
        padding-left: 6rem;
        width: 50%;
    }

    .link {
        color: var(--beige, #fff4da);
        text-align: center;
        font-family: "Alumni Sans";
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.8rem;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        padding-bottom: 0.8rem;
        display: block;
        width: fit-content;
        position: absolute;
        right: 7.1rem;
        top: 6.8rem;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            background: var(--beige, #fff4da);
            height: 0.2rem;
            bottom: 0;
        }
    }

    &__inner {
        display: flex;
        margin-bottom: 13.5rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 2.6rem;
        strong {
            color: var(--dark, #330d03);
            font-family: "Alumni Sans";
            font-size: 4.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -1.8px;
            text-transform: uppercase;
            display: block;
        }

        span {
            color: var(--dark-secondary, rgba(51, 13, 3, 0.6));
            font-family: "Euclid Circular A";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.8rem;
            letter-spacing: -0.36px;
            display: block;
        }
    }

    &__info:last-child {
        margin-right: 0;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 19.1rem;
        strong {
            display: block;
            color: var(--choco, #4c0d00);
            font-family: "Alumni Sans";
            font-size: 9rem;
            font-style: normal;
            font-weight: 600;
            line-height: 90%;
            letter-spacing: -2.7px;
            text-transform: uppercase;
        }

        span {
            display: block;
            color: var(--choco, #4c0d00);
            font-family: "Alumni Sans";
            font-size: 4.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -1.8px;
            text-transform: uppercase;
        }
    }

    &__image {
        width: 59.7rem;
        height: 43.9rem;
        position: absolute;
        top: 50%;
        left: 46%;
        transform: translate(-50%, -46%);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__description {
        background: var(--green, #b5bf3d);
        padding: 6rem;
        color: var(--dark, #330d03);
        font-family: "Euclid Circular A";
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: -0.36px;
        width: fit-content;
        p {
            max-width: 30rem;
        }
    }

    &__block {
        display: flex;
        position: absolute;
        bottom: 8rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__price {
        border: 0.12rem solid var(--green, #b5bf3d);
        width: 16.1rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            position: relative;
            color: var(--dark, #330d03);
            display: block;
            font-family: "Alumni Sans";
            font-size: 4.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -1.8px;
            text-transform: uppercase;
            padding-right: 1rem;
            &::before {
                position: absolute;
                content: "₽";
                font-family: "Alumni Sans";
                font-size: 2rem;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -1.8px;
                text-transform: uppercase;
                right: 0;
            }
        }
    }

    &__gram {
        width: 16.1rem;
        height: 7rem;
        background: var(--green, #B5BF3D);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--beige, #fff4da);
        text-align: center;
        font-family: "Alumni Sans";
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.8rem;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    &__right {
        width: 50%;
        &-block {
            background: var(--choco, #4c0d00);
            width: 100%;
            height: 100%;
            padding-top: 22.2rem;
            padding-left: 24.8rem;
        }

        &-title {
            color: var(--beige, #FFF4DA);
            font-family: 'Alumni Sans';
            font-size: 3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.8rem;
            letter-spacing: -0.6px;
            text-transform: uppercase;
            margin-bottom: 2.4rem;
        }

        
    }

    &__lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        display: flex;
        align-items:center;
        margin-bottom: 1.6rem;
        &-compound {
            color: var(--white, #FFF);
            font-family: 'Euclid Circular A';
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.8rem;
            margin-right: 1rem;
        }

        &-price {
            color: var(--white-secondary, rgba(255, 255, 255, 0.70));
            font-family: 'Alumni Sans';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.8rem;
            letter-spacing: 2.16px;
            text-transform: uppercase;
            position: relative;
            padding-right: 1rem;
            &::before {
                position: absolute;
                content:'₽';
                color: var(--white-secondary, rgba(255, 255, 255, 0.70));
                font-family: 'Alumni Sans';
                font-size: 2rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.8rem;

                text-transform: uppercase;
                right: 0;
            }
        }
    }

    &__aside {
        position: absolute;
        width: 38.4rem;
        height: 33.4rem;
        background: var(--orange, #FF6D2F);
        padding: 6rem;
        right: 6rem;
        bottom: 0;

        &-basket {
            color: var(--dark, #330D03);
            font-family: 'Euclid Circular A';
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.8rem;
            margin-bottom: 2.4rem;
        }

        &-name {
            color: var(--dark, #330D03);
            font-family: 'Alumni Sans';
            font-size: 4.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -1.8px;
            text-transform: uppercase;
            margin-bottom: 0.8rem;
        }

        &-price {
            color: var(--white-secondary, rgba(255, 255, 255, 0.70));
            font-family: 'Alumni Sans';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.8rem;
            letter-spacing: 2.16px;
            text-transform: uppercase;
            position: relative;
            padding-right: 1rem;
            margin-bottom: 2.9rem;
            width: fit-content;
            &::before {
                position: absolute;
                content:'₽';
                right: 0;
            }
        }

        &-image {
            width: 16.5rem;
            height: 21.4rem;
            position: absolute;
            bottom: 5.1rem;
            right: 6rem;
        }

      

        &-btn {
            background: none;
            border: 0.1rem solid var(--dark, #330D03);
            &:hover {
                border: 0.1rem solid  var(--green, #B5BF3D);
                svg {

                    path {
                        fill:  var(--beige, #FFF4DA);

                    }
                    
                }
            }
          
            svg {

                path {
                    fill: $dark;
                }
                
            }
        }
    }
}
