<footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<div class="footer__top-left">
				<div class="footer__logo-container">
					<img src="../assets/images/logo-color.svg" alt="">
				</div>
				<div class="footer__socials">
					<a href="" class="footer__social text-24">vkontakte</a>
					<a href="" class="footer__social text-24">whatsapp</a>
				</div>
			</div>
			<div class="footer__top-right">
				<form class="footer__form form">
					<label for="subscription" class="footer__form-label text-18">Подпишитесь на
						рассылку</label>
					<div class="footer__input-container">
						<input id="subscription" type="email" placeholder="Введите ваш e-mail"
							class="footer__form-input text-30" data-required="true">
						<button class="footer__form-submit" data-modal="subscribe">
							<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M3.31824 11.75C2.90402 11.75 2.56824 12.0858 2.56824 12.5C2.56824 12.9142 2.90402 13.25 3.31824 13.25V11.75ZM22.8486 13.0303C23.1415 12.7374 23.1415 12.2626 22.8486 11.9697L18.0756 7.1967C17.7827 6.90381 17.3078 6.90381 17.0149 7.1967C16.722 7.48959 16.722 7.96447 17.0149 8.25736L21.2576 12.5L17.0149 16.7426C16.722 17.0355 16.722 17.5104 17.0149 17.8033C17.3078 18.0962 17.7827 18.0962 18.0756 17.8033L22.8486 13.0303ZM3.31824 13.25L22.3182 13.25V11.75L3.31824 11.75V13.25Z"
									fill="#330D03" />
							</svg>
						</button>
					</div>
				</form>
				<div class="footer__bottom">
					<div class="footer__menu">
						<div class="footer__menu-item">
							<a href="#" class="footer__link text-24">Меню</a>
							<a href="#" class="footer__link text-24">Доставка</a>
							<a href="#" class="footer__link text-24">Мы на карте</a>
						</div>
						<div class="footer__menu-item">
							<a href="#" class="footer__link text-24">Акции</a>
							<a href="#" class="footer__link text-24">О компании</a>
							<a href="#" class="footer__link text-24">Вакансии</a>
							<a href="#" class="footer__link text-24">Юридическая информация</a>
						</div>
						<div class="footer__menu-item">
							<a href="#" class="footer__link text-24">Vkontakte</a>
							<a href="#" class="footer__link text-24">Яндекс.еда</a>
							<a href="#" class="footer__link text-24">Delivery club</a>
						</div>
						<div class="footer__menu-item">
							<a href="#" class="footer__link text-24 ">По вопросам сотрудничества:</a>
							<a href="#" class="footer__link footer__link--light text-24">Валентина</a>
							<a href="#" class="footer__link footer__link--light text-24">Территориальный
								управляющий</a>
							<a href="#" class="footer__link footer__link--light text-24">info@streetfood.vip</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="footer__copyright-inner">
			<p class="footer__copyright-text text-24">
				&copy; Все права защищены
			</p>
			<p class="footer__copyright-text text-24">
				Политика обработки персональных данных
			</p>
			<p class="footer__copyright-text text-24">
				ООО «Стрит Фуд»
			</p>
		</div>
	</div>
</footer>