@import "./scss/fonts";
@import "./scss/libs/settings";
@import "./scss/libs/set";
@import "./scss/style";

@import "./scss/components/header";
@import "./scss/components/footer";
@import "./scss/components/modal";
@import "./scss/components/ticker";

@import "./scss/pages/main-page/main-banner";
@import "./scss/pages/main-page/main-news";
@import "./scss/pages/main-page/main-menu";
@import "./scss/pages/main-page/main-sale";
@import "./scss/pages/main-page/main-advantages";
@import "./scss/pages/main-page/main-reviews";
@import "./scss/pages/main-page/main-map";
@import "./scss/pages/contacts";
@import "./scss/pages/vacancy";
@import "./scss/pages/vacancy-detail";
@import "./scss/pages/news-detail";
@import "./scss/pages/main-page/service-delivery";
@import "./scss/pages/main-delivery";
@import "./scss/pages/main-page/sliders-delivery";
@import "./scss/pages/main-page/delivery-box";
@import "./scss/pages/main-page/stock";
@import "./scss/pages/detailed-promotions";
@import "./scss/pages/other-promotions";
@import "./scss/pages/about";
@import "./scss/pages/menu-main";
@import "./scss/pages/position-card";
@import "./scss/pages/vacancy-detail.scss";
@import "./scss/pages/vacancy.scss";
@import "./scss/pages/stock-main";
@import "./scss/pages/menu";
@import "./scss/pages/error-four";



.mobile {
	display: none;
}

@media (max-width: 48em) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}
