@font-face {
	font-family: "Alumni Sans";
	src:
		url("../assets/fonts/AlumniSans-SemiBold.woff2") format("woff2"),
		url("../assets/fonts/AlumniSans-SemiBold.woff") format("woff"),
		url("../assets/fonts/AlumniSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Alumni Sans";
	src:
		url("../assets/fonts/AlumniSans-SemiBoldItalic.woff2") format("woff2"),
		url("../assets/fonts/AlumniSans-SemiBoldItalic.woff") format("woff"),
		url("../assets/fonts/AlumniSans-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Euclid Circular A";
	src:
		url("../assets/fonts/EuclidCircularA-Medium.woff2") format("woff2"),
		url("../assets/fonts/EuclidCircularA-Medium.woff") format("woff"),
		url("../assets/fonts/EuclidCircularA-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Euclid Circular A";
	src:
		url("../assets/fonts/EuclidCircularA-Regular.woff2") format("woff2"),
		url("../assets/fonts/EuclidCircularA-Regular.woff") format("woff"),
		url("../assets/fonts/EuclidCircularA-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Literata";
	src:
		url("../assets/fonts/Literata-Medium.woff2") format("woff2"),
		url("../assets/fonts/Literata-Medium.woff") format("woff"),
		url("../assets/fonts/Literata-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Literata";
	src:
		url("../assets/fonts/Literata-Regular.woff2") format("woff2"),
		url("../assets/fonts/Literata-Regular.woff") format("woff"),
		url("../assets/fonts/Literata-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
